.tela 
    div{
        width: 200px;;
        height: 200px;
        border: 1px solid #c3c3c3;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

ul, li {
    margin-right: 10px;
}